body {
  font: 12pt Verdana, Helvetica, sans-serif;
  color: #7d7d7d;
  background-color: #fff;
  margin: 0px;
  
}

.login-container {
	margin: 5em auto;
	width: 450px;
	margin-top: 90;
}

div.copy {
	text-align: center;
	font-size: 10px;
	margin-left: -40px;
}

label.error {
	font-size: 10pt;
	color: #ff0000;
}

label.info {
	font-size: 10pt;
	color: #000000;
}

input.login-input {
	font-size: 18pt;
	border: 1px solid #cccccc;
	background-color: #eeeeee;
}

input.submit {
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-box-sizing: content-box;
    background: url("images/white-grad.png") repeat-x scroll left top #F2F2F2;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 12pt !important;
    line-height: 13px;
    padding: 6px 12px;
    text-decoration: none;
    color: #555555;
}

p.login a {
	color: #0088aa;
	font-size: 11px;
}

div#dashboard-menu a {
	color: #0088aa;
}

table.round {	
	-moz-border-radius: 11px 11px 11px 11px;
	-webkit-border-radius: 11px 11px 11px 11px;
    -moz-box-shadow: 0 4px 18px #C8C8C8;
    -webkit-box-shadow: 0 4px 18px #C8C8C8;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    font-weight: normal;
    margin-left: 8px;
    padding: 16px 16px 16px;    
}

table.round td {
	padding:10px; 
}

.messagebox{
}

.messageboxok{
 	color:#008000;
}
.messageboxerror{
	color:#CC0000;
}


div#dashboard-header {
	background: url("images/logo-mid.png")  no-repeat scroll 0 0 transparent;
    display: block;
    height: 60px;
    overflow: hidden;
    padding-bottom: 5px;
    text-indent: -9999px;
    width: 700;
    margin-top: 20px;
    margin-left: 10px;
}

div#signin-header {
	background: url("images/logo-min.png")  no-repeat scroll 0 0 transparent;
    display: block;
    height: 100px;
    overflow: hidden;
    padding-bottom: 5px;
    text-indent: -9999px;
    width: 280;
    margin-top: 20px;
    margin-left: 60px;
}


/*  may be not in use */

div#dashboard-menu {
	text-align: right;
	font-size: 12px;	
	margin-right: 10px;
    margin-top: 5px;
}    

div#header {
	background: #f9f9f9;
	margin: 0;
}

table#dashboard-body  {
	-moz-border-radius: 5px 5px 5px 5px;    
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    font-weight: normal;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px 5px 5px;
    width:99%;
	
}

table#dashboard-body tbody tr th {
	background: #FFF;
	font-weight: normal;
	font-size: 10pt;

}

#nav-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav-menu li {
	float: left;
}

#nav-menu li a {
	background: #cccccc bottom left repeat-x;
	height: 2em;
	line-height: 2em;
	float: left;
	width: 7em;
	display: block;
	color: #4d4d4d;
	text-decoration: none;
	text-align: center;
}

#nav-menu li a:hover {
	background: #bbb bottom left repeat-x;
	color: #000000;
 
}

div#nav-menu ul li.selected a {
	color: #000000;
	font-weight:bold;
	background: #aaaaaa;
 
}


/* Hide from IE5-Mac \*/
#nav-menu li a {
	float: none
}
/* End hide */

div#nav-menu {
	background: #cccccc;
	height: 2em;
} 

#page-button {
margin-top:15px;   
margin-left:15px;
	
}

#table {
background: #aaa;
margin-top:15px;   
margin-left:15px;
-moz-border-radius: 5px 5px 5px 5px; 
}


#table .table-header {
background: #ccc;
}

#table .table-row {
background: #fff;
}

#online {
  color: #fff;
  background: green;
  -moz-border-radius: 5px 5px 5px 5px; 
}
#offline {
  color: #fff;
  background: red;
  -moz-border-radius: 5px 5px 5px 5px; 
}

#waiting {
  color: #fff;
  background: #ff5500;
  -moz-border-radius: 5px 5px 5px 5px; 
}



a {
color: #555;
text-decoration:underline;
}

a:hover {
color: #000;
text-decoration:none;
}

table#page-button {
   padding: 5px;
   background:#fff;
   border: 1px solid #ddd;
   -moz-border-radius: 5px 5px 5px 5px; 
}

table#page-button th {
	text-align:left;
}

.report-bar {
	padding: 10px;
	background:#fff;
	border: 1px solid #ddd;
	-moz-border-radius: 5px 5px 5px 5px; 
	width: 80%;
}

#footer {
  text-align: left;
  font-size: 13px;
  padding:10px;
}
